*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container{
    max-width: 1000px;
    margin: 0px auto;
    padding: 0 15px; 
}

footer{
    padding: 300px 0 !important;
}

/* 
div {
    background-color: aqua;
} */

h1 {
    font-size: 40px;
    color: white;
}

p {
    color: white;
}

body {
    background-color: blanchedalmond;
    font-family: 'Josefin Sans', sans-serif;
}



/* TITLE STYLE */

.title{
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.title__decor{
    width: 50px;
    height: 1px;
    margin: 20px auto 0 auto;
    background-color: #4f93e5;
}

/* ___ *** ___ */

.one {
    background-color: rgb(8, 230, 0);
}

.three {
    background-color: rgb(255, 140, 0);
}




/* --- Header --- */

.header{
    background-color: #252527;
}

.menu{
    display: flex;

    padding-top: 30px;
    padding-bottom: 30px;
}

.menu a{
    text-decoration: none;
}


.menu__link{
    margin-right: 30px;
    color: #fff;
    font-size: 22px;
}

.menu__link:hover {
    color: #4f93e5;
    transition: 300ms;

    cursor: pointer;
}


 /* FIRST SCREEN */
 .first-screen {
     padding-top: 150px;
     padding-bottom: 150px;
     background-color: #252527;
 }

 .first-screen__items {

     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .first-screen__image {
     border: 6px solid #4f93e5;
     transition: 1000ms;
 }


.hover-image {
    transition: 300ms;
    transform: scale(1.3);
}


 /* --- Skills --- */
 
 .skills{
    background-color: #1f1f20;
    padding: 50px 0;
 }

 .skills__title{
}
 
.skills__blocks{

}


.skills__rhombus{
    min-width: 100px;
    min-height: 100px;
    transform: rotate(45deg); 
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
    transition: all 1000ms ease-in-out;
    
}

.skills__rhombus div{
    transform: rotate(-45deg);
    width: 50px;
    height: 50px; 
    
}


.skills__rhombus div img{

    max-width: 100%;

}

.skills__blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.skills__block{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    
}

.skills__block h3{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    color: #fff;
}

.skills__text{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

.skills__rhombus:hover{
    box-shadow: 0 0 3px 3px #4f93e5;
    transition: all 400ms ease-in-out;
}


/* RESUME */
 .resume{
    background-color: #1f1f20;
    padding: 50px 0;
 }

 .resume__tittle{
    color: #4f93e5;
 }

 .works{
    background-color: #252527;
    padding: 50px 0;
 }

 .works_tittle{
    color: white;
    text-align: center;
    font-size: 35px;
    
 }

 .contacts{
    background-color: #1f1f20;
    padding: 50px 0;
 }

 .contacts_tittle{
    color: white;
    font-size: 35px;
    text-align: center;
 }

 .pekin{
    color: white;
    font-size: 55px;
    text-align: center;
    margin-right: 150px;
 }
 

 .kitai{
    font-size: 40px;
 }


 .color{
    color: #4f93e5;
    
 }



/* FOOTER */

.footer{
    background-color: #252527;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__title{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}


.footer__links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.footer__link {
    border: 2px solid #4f93e5;
    border-radius: 40% / 50%;
    border-color: white;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link img {
    width: 30px;
    height: 30px;
}

a:first-child .footer__link img {
    width: 35px;
    height: 35px;
    margin-left: -2px;
}

.footer__text{
    text-align: center;
}


 /* TEST */

 .test{
    display: none;
 }




.button{
    background-color: rgb(225, 0, 255);
}

.active {
    background-color: aqua;
}

.mybutton{
    background-color: darkcyan;
}

.work{
color: green;
}



/* BURGER MENU */

.menu-burger{
    display: none;
}

@media screen and (max-width: 700px){

    .menu-burger {
        display: block;
    }

    .first-screen__image{
        display: none;
    }

    .menu{
        display: none;
    }

}

@media screen and (max-width: 450px){

        .first-screen__items p{
            text-align: center;
        }

        .first-screen__items{
            justify-content: center
        }
        
}




.menu-burger__button{
    width: 30px;
    height: 30px;
    background-color: #fff;
}


.menu-burger__links{
    display: none;
}

.active{
    display: block;
}


.menu-burger__links{
    margin-right: 30px;
    color: #fff;
    font-size: 22px;
    background-color: #1f1f20;
    list-style: none;
}

.menu-burger__links a{
   color: white; 
   text-decoration: none;
}

.menu-burger__link a:hover{ 
    color: #4f93e5;
    transition: 300ms;

}










/* selector class = 10 / teg = 1 -- 10 + 1 = 11 (вес) */
/* .test-teg span {
    color: #caff57;
}

.test-teg .red {
    color: red;
} */



